/* Make background fill the full page */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #D6BBB6;
  font-family: 'Dancing Script', cursive;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center the content */
.container {
  text-align: center;
  padding: 20px;
}

a {
  color: #fff;
  background-color: #c13584;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

a:hover {
  background-color: #a32d6d;
}
